.card-img-top{
    width:25%;
    height:20%;
    
}

.icon-bar{
    background-color: black;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}

.nav-font {
    font-family: 'Bree Serif', serif;
}

#logo {
    text-align: center;
    
}
#cssSearchBar{
    width:90%;
    text-align: center;
    border: black solid 2px;
}
#cssButton{
    width:5%; 
    height:25px;
    text-align: center;
    background-color:black;
    border-radius:100%;
    
}